opencv_python~=4.11.0
requests~=2.32.3
numpy~=2.2.0
colorlog~=6.9.0
pystray~=0.19.5
PyAutoGUI~=0.9.54
kthread~=0.2.3
keyboard~=0.13.5
Pillow~=11.1.0
pyobjc-framework-Quartz~=12.1; sys_platform == "darwin"
rich~=14.0

